<!DOCTYPE html>
<html lang="de">

    <%- include("./partials/head.ejs") %>

<body>

    <form class="formElement">
        <% //formating start day to better readable string %>
        <% var d = tracker.start; %>
        <% var startString = (d.getFullYear() + "-" + ("0"+(d.getMonth()+1)).slice(-2) + "-" + ("0" + d.getDate()).slice(-2)); %>
        <% console.log(startString) %>
        
        <% //formating end day to better readable string %>
        <% var d = tracker.end; %>
        <% var endString = (d.getFullYear() + "-" + ("0"+(d.getMonth()+1)).slice(-2) + "-" + ("0" + d.getDate()).slice(-2)); %>
        <% console.log(endString) %>

        <input placeholder="Kategorie: " type="text" id="category" name="category" value="<%= tracker.category %>" required>
        <input placeholder="Name: " type="text" id="name" name="name" value="<%= tracker.name %>" required>
        <input placeholder="Startpunkt: " type="date" id="start" name="start" value="<%= startString %>" requierd>
        <input placeholder="Ablaufsdatum: " type="date" id="end" name="end" value="<%= endString %>" requierd>
        <input placeholder="Information: " type="text" id="info" name="info" value="<%= tracker.info %>">
        <button class="btnEdit">Eintrag bearbeiten</button>
    </form>

    <script>
        const sender = document.querySelector('button.btnEdit');
        sender.addEventListener('click', (e) => {
            const endpoint = '/software/<%= tracker._id %>';
            fetch(endpoint, {
                method: 'POST', 
            })
                .then(response => response.json())
                .then(data => top.location.href = data.redirect)
                .catch(err => console.log(err));
        })
    </script>

    <a class="delete" data-doc="<%= tracker._id %>">delete</a>

    <script>
        const trashcan = document.querySelector('a.delete');
        trashcan.addEventListener('click', (e) => {
            const endpoint = `/software/${trashcan.dataset.doc}`;
            fetch(endpoint, {
                method: 'DELETE',
            })
                .then(response => response.json())
                .then(data => top.location.href = data.redirect)
                .catch(err => console.log(err));
        });

    </script>

    
    
</body>
</html>