<html lang="de">

    <%- include("./partials/head.ejs") %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    <script type="text/javascript">
        if (top.location != self.location) {
            top.location = self.location.href;
        }
    </script>

<body>

    <%- include("./partials/sidebar.ejs") %>


    <section class="main-content">

        <div class="headline">
            <h1 id="title">Hardware</h1>
        </div>

        <div id="category_head">
            
            <div class="trigger_popup_fricc">
                <img class="create_logo" src="/img/icons/create.png">
                <a href="/hardware/create" target="iframe_a">Neuen Eintrag erstellen</a>
            </div>
            <div class="search">
                <input type="text" id="searchInput" onkeyup="myFunction()" placeholder="Search users.." title="Type in a user">
            </div>
        </div>

        <div class="table">
            <div>
                <table class="table-sortable" id="upper_table">
                    <thead>
                        <tr class="header" id="head_line">
                            <th data-sort="number" class="row_1_head">Inventurnummer</a></th>
                            <th data-sort="string" class="row_2_head">Name</a></th>
                            <th data-sort="date" class="row_4_head">Kaufdatum</a></th>
                            <th data-sort="date" class="row_5_head">Garantie bis</a></th>
                            <th data-sort="string" class="row_6_head">Benutzer</a></th>
                            <th data-sort="string" class="row_7_head_hardware">Information</th>
                            <th class="row_8_head_hardware">Optionen</th>
                        </tr>
                    </thead>

                    <tbody id="body_table">

                        <% if (trackers.length > 0) { %>
                            <% trackers.forEach(tracker => { %>
                                <tr class="body_table_content">
                                    <% if(tracker.buy != null) { %>
                                    <% //formating start day to better readable string %>
                                    <% var d = tracker.buy; %>
                                    <% var buyString = (d.getFullYear() + "-" + ("0"+(d.getMonth()+1)).slice(-2) + "-" + ("0" + d.getDate()).slice(-2)); %>
                                    <% console.log(buyString) } %>

                                    <% if(tracker.warrenty != null) { %>
                                    <% //formating end day to better readable string %>
                                    <% var d = tracker.warrenty; %>
                                    <% var warrentyString = (d.getFullYear() + "-" + ("0"+(d.getMonth()+1)).slice(-2) + "-" + ("0" + d.getDate()).slice(-2)); %>
                                    <% console.log(warrentyString) } %>

                                    <td class="row_1_body"><%= tracker.inventory %></td>
                                    <td class="row_2_body"><%= tracker.name %></td>
                                    <td class="row_4_body"><%= buyString %></td>
                                    <td class="row_5_body"><%= warrentyString %></td>
                                    <td class="row_6_body"><%= tracker.user %></td>
                                    <td data-tooltip="<%= tracker.notes %>" data-tooltip-location="right" class="row_6_body_hardware"><%= tracker.info %></td> 
                                    <td id="row_9_body" class="trigger_popup_fricc"><a href="/hardware/<%= tracker._id %>" target="iframe_a"><img src="/img/icons/bearbeiten.png" alt="Bearbeiten"></a></td>
                                </tr>

                            

                            <% }) %> 
                        <% } %>

                    </tbody>
                </table>
            </div>
        </div>

        

      
    </section>

    <div class="hover_bkgr_fricc">
        <span class="helper"></span>
        <div class="popup-frame">
            <div class="popupCloseButton">&times;</div>
            <p></p>
            <iframe name="iframe_a" height="750px" width="100%" title="Iframe Example" seamless="seamless" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
        </div>
    </div>

    <script>


        $(window).on('load', function () {
            $(".trigger_popup_fricc").click(function () {
                $('.hover_bkgr_fricc').show();
            });
            $('.hover_bkgr_fricc').click(function () {
                $('.hover_bkgr_fricc').hide();
            });
            $('.popupCloseButton').click(function () {
                $('.hover_bkgr_fricc').hide();
            });
            $('.btnEdit').click(function () {
                $('.hover_bkgr_fricc').hide();
            });
        });


    </script>

    <script>
        function myFunction() {
            var input, filter, table, tr, td1, td2, td3, td4, td5, i, txtValue;
            input = document.getElementById("searchInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("body_table");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td1 = tr[i].getElementsByTagName("td")[0];
                td2 = tr[i].getElementsByTagName("td")[1];
                td3 = tr[i].getElementsByTagName("td")[2];
                td4 = tr[i].getElementsByTagName("td")[3];
                td5 = tr[i].getElementsByTagName("td")[4];
                if (td1 || td2 || td3 || td4 || td5) {
                    txtValue1 = td1.textContent || td1.innerText;
                    txtValue2 = td2.textContent || td2.innerText;
                    txtValue3 = td3.textContent || td3.innerText;
                    txtValue4 = td4.textContent || td4.innerText;
                    txtValue5 = td5.textContent || td5.innerText;
                    if (txtValue1.toUpperCase().indexOf(filter) > -1 ||
                        txtValue2.toUpperCase().indexOf(filter) > -1 ||
                        txtValue3.toUpperCase().indexOf(filter) > -1 ||
                        txtValue4.toUpperCase().indexOf(filter) > -1 ||
                        txtValue5.toUpperCase().indexOf(filter) > -1 ) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>

    <script type="text/javascript" src="/js/tablesort.min.js"></script>
        
    <script>document.querySelector('.table-sortable').tsortable()</script>
        
    <style>
        [data-sort]:hover {
            cursor: pointer;
        }
        
        [data-dir="asc"]:after {
            content: ' ▴ ';
            width: 1px;
        }
        
        [data-dir="desc"]:after {
            content: ' ▾ ';
        }
    </style>

</body>
</html>