<html lang="de">

    <%- include("./partials/head.ejs") %>

<body>

    <%- include("./partials/sidebar.ejs") %>

    <section class="main-content">

        <div class="headline">
            <h1 id="title">Benutzer Verwaltung</h1>
        </div>

        <div style="height: 65px;" id="category_head">
        
            <div class="trigger_popup_fricc">

            </div>
        </div>

        <div class="table">
            <div>
                <table id="upper_table">
                    <thead>
                        <tr id="head_line">
                            <th class="row_1_head"><a href="/users.name">Nutzername</a></th>
                            <th class="row_2_head"><a href="/users.mail">E-Mail</a></th>
                            <th class="row_3_head"><a href="/users.phone">Telefonnummer</a></th>
                            <th class="row_4_head_settings"><a href="/users.pwd">Password-Hash</a></th>
                            <th class="row_5_head">Nutzer entfernen</a></th>

                        </tr>
                    </thead>
                </table>
            </div> 

            <div>
                <table id="body_table">
                    <tbody>

                        <% if (users.length > 0) { %>
                            <% users.forEach(user => { %>
                                <tr class="body_table_content">
                                    <td class="row_1_body"><%= user.username %></td>
                                    <td class="row_2_body"><%= user.mail %></td>
                                    <td class="row_3_body"><%= user.phone %></td>
                                    <td class="row_4_body_settings"><%= user.password %></td>
                                    <td class="row_5_body">
                                        <a id="delete" class="delete" data-doc="<%= user._id %>"><img src="/img/icons/mull.png" alt="Nutzer entfernen"></a>
                                    </td> 
                                </tr>


                            <% }) %> 
                        <% } %>

                    </thead>
                </table>
            </div>
        </div>
      
    </section>

    <script>
        const test = document.querySelectorAll('a.delete');
        test.forEach(element => {
            element.addEventListener('click', (e) => {
                if (confirm("Diesen Nutzer wirklich löschen?")) {
                    const endpoint = `/settings/${element.dataset.doc}`;
                    fetch(endpoint, {
                        method: 'DELETE',
                    })
                        .then(response => response.json())
                        .then(data => top.location.href = data.redirect)
                        .catch(err => console.log(err));
                }
            })
        
        });

    </script>

</body>
</html>