<html lang="de">

    <%- include("./partials/head.ejs") %>

<body>

    <%- include("./partials/sidebar.ejs") %>

    <section class="main-content">

        <div class="headline">
            <h1 id="title">Benutzer Verwaltung</h1>
        </div>

        <div style="height: 65px;" id="category_head">
        
            <div class="trigger_popup_fricc">

            </div>
        </div>

        <div class="table">
            <div>
                <table id="upper_table">
                    <thead>
                        <tr id="head_line">
                            <th class="row_1_head"><a href="/user.name">Nutzername</a></th>
                            <th class="row_2_head"><a href="/user.pwd">Password</a></th>
                            <th class="row_3_head">Nutzer entfernen</a></th>

                        </tr>
                    </thead>
                </table>
            </div> 

            <div>
                <table id="body_table">
                    <tbody>

                        <% if (users.length > 0) { %>
                            <% users.forEach(user => { %>
                                <tr class="body_table_content">
                                    <td class="row_1_body"><%= user.username %></td>
                                    <td class="row_2_body"><%= user.password %></td>
                                    <li class="optionFields">
                                        <td class="row_3_body">
                                            <a class="delete" data-doc="<%= user._id %>"><img src="/img/icons/mull.png" alt="Nutzer entfernen"></a>
                                        </td>
                                    </li> 
                                </tr>


                            <% }) %> 
                        <% } %>

                    </thead>
                </table>
            </div>
        </div>
      
    </section>

    <script>
        console.log("running")
        const trashcan = document.querySelector('a.delete');
        trashcan.addEventListener('click', (e) => {
            if (confirm("Diesen Nutzer wirklich löschen?")) {
                const endpoint = `/settings/${trashcan.dataset.doc}`;
                fetch(endpoint, {
                    method: 'DELETE',
                })
                    .then(response => response.json())
                    .then(data => data.redirect)
                    .catch(err => console.log(err));
            }
        });

    </script>

</body>
</html>