<!DOCTYPE html>
<html lang="de">

    <%- include("./partials/head.ejs") %>

<body id="edit-page">

    <form id="form" class="formElement">
        <% //formating start day to better readable string %>
        <% var d = tracker.start; %>
        <% var startString = (d.getFullYear() + "-" + ("0"+(d.getMonth()+1)).slice(-2) + "-" + ("0" + d.getDate()).slice(-2)); %>
        <% console.log(startString) %>
        
        <% //formating end day to better readable string %>
        <% var d = tracker.end; %>
        <% var endString = (d.getFullYear() + "-" + ("0"+(d.getMonth()+1)).slice(-2) + "-" + ("0" + d.getDate()).slice(-2)); %>
        <% console.log(endString) %>

        <ul id="edit_form" class="formElement">
                   
            <li><input placeholder="Kategorie: " type="text" name="category" value="<%= tracker.category %>" calss="edit_input" required class="edit_input_category"></li>
            <li><input placeholder="Name: " type="text" name="name" value="<%= tracker.name %>" calss="edit_input" required class="edit_input_name"></li>   
            <li><input placeholder="Startpunkt: " type="date" id="start" name="start" value="<%= startString %>" calss="edit_input" requierd class="edit_input"></li>    
            <li><input placeholder="Ablaufsdatum: " type="date" id="end" name="end" value="<%= endString %>"  calss="edit_input" requierd class="edit_input"></li>   
            <li><input placeholder="Information: " type="text" id="info" name="info" value="<%= tracker.info %>" calss="edit_input" required class="edit_input_information"></li>   
            <li class="optionFields">
                <td>
                    <a class="btnEdit"><img src="/img/icons/bearbeiten.png" alt="Bearbeiten"></a>
                    <a class="delete" data-doc="<%= tracker._id %>"><img alt="delete" src="/img/icons/mull.png"></a>
                </td>
            </li>

                
        </ul>
    </form>

    <script>
        const sender = document.querySelector('a.btnEdit');
        sender.addEventListener('click', (e) => {
            const endpoint = '/software/<%= tracker._id %>';
            console.log(document.getElementsByClassName("formElement"));
            const data = new URLSearchParams(new FormData(document.getElementById("form")));
            fetch(endpoint, {
                method: 'POST', 
                body: data
            })
                .then(response => response.json())
                .then(data => top.location.href = data.redirect)
                .catch(err => console.log(err));
        })
    </script>


    <script>
        const trashcan = document.querySelector('a.delete');
        trashcan.addEventListener('click', (e) => {
            const endpoint = `/software/${trashcan.dataset.doc}`;
            fetch(endpoint, {
                method: 'DELETE',
            })
                .then(response => response.json())
                .then(data => top.location.href = data.redirect)
                .catch(err => console.log(err));
        });

    </script>

    
    
</body>
</html>