<html lang="de">

    <%- include("./partials/head.ejs") %>

<body>

    <%- include("./partials/sidebar.ejs") %>

    <section class="main-content">

        <div class="headline">
            <h1 id="title">Benutzer Verwaltung</h1>
        </div>

        <div style="height: 65px; display: flex; justify-content: flex-end;" id="category_head">
        
            <div style="width: 40%;" class="trigger_popup_fricc">
                <input type="text" id="searchInput" onkeyup="myFunction()" placeholder="Search users.." title="Type in a user">
            </div>
        </div>

        <div class="table">
            <div>
                <table class="table-sortable" id="upper_table">
                    <thead>
                        <tr class="header" id="head_line">
                            <th data-sort="string" class="row_1_head">Nutzername</a></th>
                            <th data-sort="string" class="row_2_head">E-Mail</a></th>
                            <th data-sort="int" class="row_3_head">Telefonnummer</a></th>
                            <th class="row_4_head_users">Password-Hash</a></th>
                            <th class="row_7_head">Nutzer entfernen</a></th>

                        </tr>
                    </thead>

                    <tbody id="body_table">

                        <% if (users.length > 0) { %>
                            <% users.forEach(user => { %>
                                <tr class="body_table_content">
                                    <td class="row_1_body"><%= user.username %></td>
                                    <td class="row_2_body"><%= user.mail %></td>
                                    <td class="row_3_body"><%= user.phone %></td>
                                    <td class="row_4_body_users"><%= user.password %></td>
                                    <td id="row_7_body"><a id="delete" class="delete" data-doc="<%= user._id %>"><img src="/img/icons/mull.png" alt="Nutzer entfernen"></a></td> 
                                </tr>


                            <% }) %> 
                        <% } %>

                    </tbody>
                </table>
            </div>
        </div>
      
    </section>

    <script>
        const test = document.querySelectorAll('a.delete');
        test.forEach(element => {
            element.addEventListener('click', (e) => {
                if (confirm("Diesen Nutzer wirklich löschen?")) {
                    const endpoint = `/settings/${element.dataset.doc}`;
                    fetch(endpoint, {
                        method: 'DELETE',
                    })
                        .then(response => response.json())
                        .then(data => top.location.href = data.redirect)
                        .catch(err => console.log(err));
                }
            })
        
        });

    </script>
    
    <script>
        function myFunction() {
            var input, filter, table, tr, td1, td2, td3, i, txtValue;
            input = document.getElementById("searchInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("body_table");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td1 = tr[i].getElementsByTagName("td")[0];
                td2 = tr[i].getElementsByTagName("td")[1];
                td3 = tr[i].getElementsByTagName("td")[2];
                if (td1 || td2 || td3) {
                    txtValue1 = td1.textContent || td1.innerText;
                    txtValue2 = td2.textContent || td2.innerText;
                    txtValue3 = td3.textContent || td3.innerText;
                    if (txtValue1.toUpperCase().indexOf(filter) > -1 || txtValue2.toUpperCase().indexOf(filter) > -1 || txtValue3.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>

    <script type="text/javascript" src="/js/tablesort.min.js"></script>
    
    <script>document.querySelector('.table-sortable').tsortable()</script>
    
    <style>
        [data-sort]:hover {
            cursor: pointer;
        }
    
        [data-dir="asc"]:after {
            content: ' ▴ ';
            width: 1px;
        }
    
        [data-dir="desc"]:after {
            content: ' ▾ ';
        }
    </style>

</body>
</html>