<html lang="de">

    <%- include("./partials/head.ejs") %>

<body style="background-color: #fff;" id="edit-page">

    <form id="form" class="formElement">

        <ul id="edit_form" class="formElement">


            <li><input placeholder="Benutzername: " type="text" id="username" name="username" value="<%= user.username %>" class="edit_input" required class="edit_input_category"></li>
            <li><input placeholder="E-Mail: " type="text" id="mail" name="mail" value="<%= user.mail %>" calss="edit_input" required class="edit_input_name"></li>   
            <li><input placeholder="Telefonnummer: " type="number" id="phone" name="phone" value="<%= user.phone %>" class="edit_input" class="edit_input"></li>    
            <li class="optionFields">
                <td>
                    <a class="btnEdit"><img alt="edit" src="/img/icons/bearbeiten.png"></a>
                    <a class="delete" data-doc="<%= user._id %>"><img alt="delete" src="/img/icons/mull.png"></a>
                </td>
            </li>


                
        </ul>
    </form>

    <script>
        const sender = document.querySelector('a.btnEdit');
        sender.addEventListener('click', (e) => {
            const endpoint = '/users/<%= user._id %>';
            console.log(document.getElementsByClassName("formElement"));
            const data = new URLSearchParams(new FormData(document.getElementById("form")));
            fetch(endpoint, {
                method: 'POST',
                body: data,
                
            })
                .then(response => response.json())
                .then(data => top.location.href = data.redirect)
                .catch(err => console.log(err));
        })
    </script>


    <script>
        const trashcan = document.querySelector('a.delete');
        trashcan.addEventListener('click', (e) => {
            if (confirm("Diesen Eintrag wirklich löschen?")) {
                const endpoint = `/users/${trashcan.dataset.doc}`;
                fetch(endpoint, {
                    method: 'DELETE',
                })
                    .then(response => response.json())
                    .then(data => top.location.href = data.redirect)
                    .catch(err => console.log(err));
            }
        });

    </script>
    


    
    
</body>
</html>